<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
    <h3>
        Please enter your details to register as a new user
    </h3>
    <form action="/auth/signup" method="POST" name="signup">
        <label for="username">Username</label>
        <div class='usernameError error'></div>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email</label>
        <div class='emailError error'></div>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password (min 6 characters)</label>
        <input type="password" id="password" name="password" required pattern="^.{6,25}$"><br>
        <label for="isAdmin">Make Admin?</label>
        <input type="checkbox" id="isAdmin" name="isAdmin">
        <button type="submit">Sign Up!</button>
    </form>
</body>
<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async e => {
        e.preventDefault();
        const formData = new FormData(form);

        try {
            const response = await fetch(form.action, {
                method: 'post',
                body: JSON.stringify(Object.fromEntries(formData)),
                headers: { 'Content-Type': 'application/json' }
            })
            const data = await response.json();
            if (data.err) {
                const usernameError = document.querySelector('.usernameError');
                const emailError = document.querySelector('.emailError');
                usernameError.textContent = `Username ${data.err.username} is already taken`;
                emailError.textContent = `Email ${data.err.email} is already taken`;
                return;
            }
            // if (data) {
            //     location.assign(data.redirect);
            // }

        } catch (error) {
            console.log(error);
        }
    });
</script>

</html>